form{
    padding: 10px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: content-box; 
}
.card{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;  
}

.center{
    display: flex;
    justify-content: center;
}

.btn,.btn-primary {
    display: flex;
    width: 100px;
    height: 40px;
}

.loading{
    width: 20px;
    height: 20px;
    animation: spin  1s infinite linear;
}

@keyframes spin {

    form{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(360deg);
    }
}